# Framework principal
fastapi==0.115.0
uvicorn==0.30.1

# Banco de dados e ORM
SQLAlchemy==2.0.32
alembic==1.13.2

# Autenticação e segurança
python-jose==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.1.2

# Validação de dados
pydantic==2.8.2
pydantic-settings==2.3.4

# Manipulação de arquivos e templates
jinja2==3.1.4
python-multipart==0.0.9

# Geração de PDF
reportlab==4.2.2

# Utilitários e suporte
requests==2.32.3

# Tipos e compatibilidade
typing-extensions==4.12.2
